@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main,
.mockup-code {
  margin: 0 auto;
}

.leaflet-container {
  width: 100%;
  height: 90vh;
  z-index: 0;
}

.mockup-code {
  min-width: auto;
  background: #282c34;
}

.mockup-code::before {
  content: none;
}

.mockup-code pre::before {
  content: '';
  margin-right: 0px;
}

.badge {
  border-radius: 5px;
  height: fit-content;
  text-align: center;
}

.card-body {
  padding: 1.5rem;
}

.footer {
  justify-items: center;
  align-items: center;
}
