# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: WhatGeo Documentation

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: ./client/package-lock.json

      - name: Install packages
        working-directory: ./client
        run: npm install

      - name: Setup environment
        working-directory: ./client
        env:
          VITE_API: ${{ secrets.VITE_API }}
        run: |
          echo "VITE_API=${VITE_API}" > .env.production

      - name: Deploy Project
        working-directory: ./client
        run: |
          git config --global user.email "${{ secrets.USER_EMAIL }}"
          git config --global user.name "${{ secrets.USER_NAME }}"
          git remote set-url origin https://${{ secrets.API_KEY }}@github.com/${{ secrets.USER_NAME }}/WhatGeo.git
          npm run deploy
